<div class="book-wrap">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      
    </tr>
  </thead>
</table>

<% @books.each do |book| %>

  
  <div class="book-box">
    
    <div class="book-comment">
      <span class="book-body"><%= book.body %></span>
      <span class="book-title"><%=book_to book.title, book_path(.id) %></span>
    </div>
  </div>
<% end %>
</div>