
<p>Title:<%= @book.title %></p>

<p>Body:<%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a href="http://127.0.0.1:8080/books/new">Back</a>
</p> 



<!-- リンク先追加下記をベース、一旦は仮で入力 -->
<!-- %= link_to "編集", edit_list_path(@list.id) % -->
<!-- %= link_to "削除", list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" % -->

